// --- colors

$black: #303030;
$white: #f6f6f6;
$yellow: #f0c868;

$dark-gray: #909090;
$gray-2: #cac6bb;
$gray-1: #efefee;

$color-1: #c4c4c4;
$color-2: #ffffff;

// --- text
$link-text-hover-color: black;
$button-text-color: $white;

// --- backgrounds
$body-bg: $gray-1;

// --- link hover shadow color
$link-hover-shadow-color: rgb(134, 22, 134);
