// --- Quattrocento regular (400)
@font-face {
  font-family: 'Quattrocento';
  src: url('../../fonts/quattrocento-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// --- Oswald  (variable)
@font-face {
  font-family: 'Oswald';
  src: url('../../fonts/oswald-variablefont_wght.woff2') format('woff2');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

// --- Icomoon
@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon//icomoon.eot?ttz58w');
  src:
    url('../../fonts/icomoon//icomoon.eot?ttz58w#iefix')
      format('embedded-opentype'),
    url('../../fonts/icomoon//icomoon.ttf?ttz58w') format('truetype'),
    url('../../fonts/icomoon//icomoon.woff?ttz58w') format('woff'),
    url('../../fonts/icomoon//icomoon.svg?ttz58w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
